html {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-weight: 600;
  font-size: 2cm;
  text-align: center;
}

p {
    text-align: center;
}

svg {
    z-index: -1 !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}


.button {
      z-index: -1 !important;
  background-color: #0099ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}